.CompleteInfoBox {
    text-align: left;
    border: 1px solid black;
    margin: 200px auto;
    width: 400px;
    padding: 50px 20px 50px 120px;
    position: relative;
  }

/*.inputBox {*/
/*    border: 1px solid black;*/
/*    width: auto;*/
/*    position: relative;*/
/*    margin-left: 100px;*/
/*    margin-right: 100px;*/
/*}*/
